
span.b-overview-heading {
    margin-left: 23px !important;
    position: absolute;
}
.b-overview-img {
    max-width: 250px;
    max-height: 250px;
    border-radius:14px;
}
.overview_body {
    grid-template-columns: repeat(3, 1fr); /* 4 columns, each taking equal space */
}
.b-checklist-header {
    position: relative; /* Set relative positioning for the container */
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the left */
}
 .b-overview-btn {
    display: inline-flex; /* Align text and icon horizontally */
    align-items: center; /* Center items vertically */
    padding: 7px 11px;
    border: 2px solid #5794dd;
    background-color: white;
    color: #5794dd;
    font-size: 14px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    margin-left:82%;
}

// .b-overview-btn:hover {
//     background-color: #e6f7ff; /* Light blue background on hover */
//     color: #004085; /* Darker blue text on hover */
// }
//
// .b-overview-btn-icon {
//     margin-right: 10px; /* Space between icon and text */
//     font-size: 18px; /* Adjust icon size */
//     display: flex; /* Ensure proper alignment */
// }
.beyond_checklist_header {
    display: flex;
}


.image-preview-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
//     background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.image-preview-modal.show {
    display: flex;
}

.modal-content {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.preview-image {
    max-width: 90%;
    max-height: 90%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
